<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homeee</title>
</head>
<body>  
<h1>A new day presented. Join. Now.</h1>
<h2>Nu er tid til hygge. Nu det efterår, om end noget lunere.</h2>
<h3>You can do it! Just think of all the times you've done it before. Come on!</h3>
This webapp is built using mvn clean package.
Now added docker build to Jenkins Build Step. 
This is a fully automatic pipeline. Changed !.<br>

Then run using java -jar target/jarfile.jar<br>
Also it is set to run inside a Docker container from Amazon AWS.<br>
These are the steps:<br>
1) IntelliJ > create code<br>
2) Maven build jar file<br>
3) Create Dockerfile<br>
4) Push all to GitHub<br>
5) Create AWS server (Ubuntu instance) for Docker and Jenkins<br>
6) Install and configure Jenkins on 5)<br>
8) Create Jenkins build-job:<br>
    a) Download code from GitHub<br>
    b) Add build steps for Maven and Docker
9) Create webhook, listening for GitHub commit. On commit, this will envoke the job 8)<br>
10) Start the first build: In Jenkins, select your project, and click "Build Now"<br>
11) Enjoy some coffee.
<br>
Jon Eikholm, KEA 2018<br>
And now in 2020! With gratitude. Namaste.
</body>
</html>
